<!DOCTYPE html>
<html>
<head>
  <title><%= title %> | PulsePro</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<header>
  <h1>PulsePro</h1>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
  
    <% if (!currentUser) { %>
      <a href="login">Login</a>
      <a href="register">Register</a>
    <% } %>
  
    <% if (currentUser) { %>
      <a href="login">Login</a>
      <a href="register">Register</a>
      <a href="logout">Logout</a>
      <a href="my-workouts">My Workouts</a>

    <% } %>
  </nav>
  
  
</header>

<main>
