<%- include('partials/header') %>

<section>
  <h2>Welcome to PulsePro</h2>
  <p>Your fitness journey starts here.</p>

  <div class="buttons">
    <a href="/about" class="btn">Learn More</a>
  </div>
</section>

<%- include('partials/footer') %>
